@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
  list-style-type: none;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 4fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.adminnavbar{
  list-style-type: none;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 4fr 0.5fr 0.5fr 0.5fr;
}


.title{
font-size: 20px;
font-family: Bahnschrift;

}

.signup{
  list-style-type: none;
}

.style2{
  list-style-type: none;
  display: inline-grid;
  grid-template-rows: 20px 20px 20px 20px;
}


.inputstyle{
  margin-bottom: 5px;

}

.navbutton{
  border:10px;
  background-color: white;
  display: inline-block;
  height: 30px;
  padding-bottom: 10px;
  cursor: pointer;
  color:purple;
  font-size: 16px;

}
.navli{
  text-decoration: none;

}

.basket{
  list-style-type: none;
  margin-bottom: 0.5px;
  font-size: 20px;
  border:1px solid black;
  border-radius: 5px;
  padding:4px 4px 4px 4px;
  width: 500px;

}

.expandable-div{
  border:1px solid;
  padding-left: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
}

.expanded{
  border:1px solid;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
}

.expanded-content{
  list-style-type: none;
  padding-left: 5px;
}

*:disabled{
  background: transparent;
  border: none;
  font-size:0;
}

.detail{
  margin-bottom: 5px;
  margin-right: 5px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.aligncart{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;

}

.paybutton{
  padding-left:10px;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

