@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ul{
  list-style-type: none;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 4fr 0.5fr 0.5fr 0.5fr 0.5fr;
}


.title{
font-size: 20px;
font-family: Bahnschrift;

}

.signup{
  list-style-type: none;
}

.style2{
  list-style-type: none;
  display: inline-grid;
  grid-template-rows: 20px 20px 20px 20px;
}


.inputstyle{
  margin-bottom: 5px;

}

.navbutton{
  border:10px;
  background-color: white;
  display: inline-block;
  height: 30px;
  padding-bottom: 10px;
  cursor: pointer;
  color:purple;
  font-size: 16px;

}
.navli{
  text-decoration: none;

}

.basket{
  list-style-type: none;
  margin-bottom: 0.5px;
  font-size: 20px;
  border:1px solid black;
  border-radius: 5px;
  padding:4px 4px 4px 4px;
  width: 500px;

}

.expandable-div{
  border:1px solid;
  padding-left: 10px;
}

.expanded{
  border:1px solid;
  padding-left: 10px;
  padding-bottom: 10px;
}

.expanded-content{
  list-style-type: none;
  padding-left: 5px;
}